<section class="no-padding" id="instagram">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Lovestar Instagram</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row no-gutter popup-gallery">
            {% assign sorted = (site.instagram | sort: 'date') | reverse %}
            {% for item in sorted limit:120 %}
            <div class="col-lg-4 col-sm-6">
                <a href="{{ item.fullsize_path }}" class="portfolio-box" title="{{ item.caption }} <small>{{ item.owner.username }}</small>">
                    <img src="img/dummy.png" data-src="{{ item.thumbnail_path }}" class="img-responsive unveil" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                {{ item.owner.username }}
                            </div>
                            <div class="project-name">
                                {{ item.caption }}
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>

</section>
