<div class="col-lg-4 col-sm-6">
    <a href="{{ item.fullsize_path }}" class="portfolio-box" title="{{ item.caption }} <small>{{ item.owner.username }}</small>">
        <img src="{{ item.thumbnail_path }}" class="img-responsive" alt="">
        <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
                <div class="project-category text-faded">
                    {{ item.owner.username }}
                </div>
                <div class="project-name">
                    {{ item.caption }}
                </div>
            </div>
        </div>
    </a>
</div>
