<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">At Your Service</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row row-centered">
            {% for item in site.strava %}
            <div class="col-lg-2 col-md-4 text-center col-centered">
                <div class="service-box">
                    <a href="{{ item.strava_link }}">
                    <img src="{{ item.profile_pic }}" class="chart">
                    <h3>{{ item.first_name }}<br>{{ item.last_name }}</h3>
                </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
